<!DOCTYPE html>
<html>
<head>
    <title>SIMDaddy - {% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('send_static', path='css/style.css') }}">
    <script src="{{ url_for('send_static', path='js/main.js') }}"></script>
    {% block head %}{% endblock %}
</head>
<body>
    <nav>
        <span style="font-size: 1.5em; font-weight: bold; color: #0076B6;">SIMDaddy</span>
        {% if username %} &nbsp;|&nbsp; Logged in as: <b>{{ username }}</b> &nbsp;|&nbsp; <a href="{{ url_for('logout') }}">Logout</a>{% endif %}
    </nav>
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
</body>
</html>
